.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #686060;
    -fx-background-color: #ebebeb;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 4px;
    -fx-padding: 4px;
}



.show-hide.toggle-button {

    -fx-background-color: #e6e6e6,
    linear-gradient(#d1d1d1 0%, #d4d4d4 49%, #d4d4d4 50%, #e8e8e8 100%);

    -fx-text-fill:#808080;
}

.show-hide.toggle-button:selected {

    -fx-background-color: #757171,

    linear-gradient(#757171 0%, #9c9797 49%, #9c9797 50%, #b3abab 100%);

    -fx-text-fill:#f5f5f5;
}


.toggle-group {
    -fx-shadow-highlight-color: #686060;
    -fx-background-radius: 5px;

    -fx-background-color: #e6e6e6,
    linear-gradient(#e6e6e6, #e6e6e6),
    linear-gradient(#d1d1d1 0%, #d4d4d4 49%, #d4d4d4 50%, #e8e8e8 100%);


}


.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #006699;
    -fx-text-fill: white;
}

.menu-item .label {
    -fx-text-fill: yellow;
}

.menu-item:focused .label {
    -fx-text-fill: white;
    -fx-background-color: red;
}


.text-field {
    -fx-background-color:  #686060, white, white ;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-background-radius: 0 ;
    -fx-pref-width: 110;
    -fx-pref-height: 11;
    -fx-font-size: 14px;
}
.text-field:focused {
    -fx-background-color:  #686060, white, white,white ;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-border-color: white;
    -fx-font-family: Constantia;
    -fx-font-size: 14px;
    -fx-text-fill: #686060;
}


.titled-pane:focused > .title > .arrow-button {
    -fx-background-color: null;
    -fx-focus-color: #babbf5;

}

.titled-pane {
    -fx-animated: true;
}

.popup {
    -fx-background-color: #686060;
    -fx-padding: 10;
    -fx-border-radius: 1;
    -fx-font-size: 13;

    -fx-font-family: Constantia;
    -fx-text-fill: #f5f5f5;
    -fx-alignment: center;
    -fx-background-radius: 10;
}


.check-box .box {

    -fx-background-color: #f5f5f5;
    -fx-border-color:#9c9797;
    -fx-border-radius:3px;

    -fx-scale-x:0.9;
    -fx-scale-y:0.9;

}

.check-box:selected .mark {
    -fx-focus-color: #babbf5;
    -fx-background-color: #686060;
}

.check-box:selected .box {

    -fx-background-color: #e6e6e6;

}